name: Run unittests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  install_and_run_tests:
    name: Install and run tests
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -el {0}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", ]
        python-version: ["3.12", ]
    steps:
      - name: Get the code
        uses: actions/checkout@v4
      - name: Install python
        uses: actions/setup-python@v5
        with:
          python-version: '${{ matrix.python-version }}'
      - name: Install prerequisites
        uses: ConorMacBride/install-package@v1
        with:
          apt: libgsl0-dev
      - name: Install package
        run: |
          which python
          python --version
          python scripts/prebuild.py
          python -m pip install .
      - name: Install coverage
        run: |
          python -m pip install coverage[toml]
      - name: Run module tests & show coverage results
        # Tests must be run in gbgpu/tests
        run: |
          cd gbgpu/tests
          coverage run --source=gbgpu -m unittest discover
          coverage report -m
